h1 {
	color:  white;
	background-color:  black;
}

p {
	color: black;
	font-size: 20px;
}

body {
	background-color: dimgray;
}

form{
	background-color: black;
	border: solid black;
	border-radius: 7px;
	box-shadow: 5px 5px 0px red;
	margin: auto;
	width: 40%;
	padding: 10px;
}

label {
	font-size: 20px;
	color: white;
}

input{
	width: 725px;
	height: 40px;
	font-size: 1em;
}

h2{
	margin: auto;
	text-align: center;
	padding-top: 20px;
}

table{
	margin: auto;
}