td {
    color: white;
}
th {
    color:white;
}
tr {
    border-color: red;
}
table {
    background-color: black;
    border-style: solid;
    border-color: red;
}
table:hover {
    background-color: black;
    border-style: solid;
    border-color: red;
    box-shadow: 3px 3px black
}
body {
    background-color: dimgray;
}
h1 {
    color: white;
    background-color: black;
}
.column {
    display: inline-block;
    width: 425px;
}
img {
    width: 50%;
    height: auto;
    position: relative;
    left: 25%;
}